# node name within the Proxmox cluster
export PVENODE=pvenode
# default gateway for VMs/containers
export GATEWAY="192.168.1.1"
# default storage pool for VMs/containers
export STORAGE_POOL="local-lvm"
# file containing SSH public keys to be added to the VM/container
export SSHKEYS="/home/ubuntu/repos/proxmox-api/authorized_keys"
# logical location for VM images to be imported from
export LOGICAL_IMPORT_PATH="local:import"
# logical location for LXC templates to be imported from
export LOGICAL_TEMPLATE_PATH="local:vztmpl"
# hostname to connect to the Proxmox API
export PROXMOX_HOST="pvenode.local"
# username to connect to the Proxmox API
export PROXMOX_USER="bob@pve"
# token ID to connect to the Proxmox API
export PROXMOX_TOKEN_ID="default"
# token secret to connect to the Proxmox API
export PROXMOX_TOKEN_SECRET="1x11111x-x111-11x1-xx11-1x111111x1xx"
# require SSL verification when connecting to the Proxmox API (0 = no, 1 = yes)
export PROXMOX_VERIFY_SSL="0"